<template name="matches">
	<h1>My Matches</h1>
	<div class="ui segments">
	{{#each match in matches}}
		<div class="ui segment">
			<div class="row flex align-items-center">
				<div class="ui blue ribbon label">
					{{ niceDate match.createdAt }}
				</div>

				{{#if match.tournamentId}}
				<div class="ui bottom right attached label">
					Created by: {{ getUserNameById match.createdBy }}
				</div>
				{{/if}}

				<div class="grow1 flex justify-flex-end">
					{{#each player in match.teams.[0].players}}
						{{> avatar userId=player shape="circle" class="avatar-margin-10"}}
					{{/each}}
				</div>
				<div>
					{{match.teams.[0].points}} x {{match.teams.[1].points}}
				</div>
				<div class="grow1 flex">
					{{#each player in match.teams.[1].players}}
						{{> avatar userId=player shape="circle" class="avatar-margin-10"}}
					{{/each}}
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</template>
