body {
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}

.fab.button {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.pull-right {
  float: right;
}

.flex {
  display: flex;
}

.grow1 {
  flex-grow: 1;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center !important;
}
