<template name="tourney">

  <h1>{{ tournamentName }}</h1>

  <div class="ui segment">
    <div class="ui pointing secondary menu tourney">
      <a class="active item" data-tab="scores">Scores</a>
      <a class="item" data-tab="matches">Matches</a>
      <a class="item" data-tab="grouped">Grouped</a>
    </div>

    <div class="ui bottom attached active tab" data-tab="scores">
      <table class="ui definition celled right aligned table">
        <thead>
          <tr>
            <th></th>
            <th>Games</th>
            <th>Wons</th>
            <th>Loses</th>
            <th>Draws</th>
          </tr>
        </thead>
        <tbody>
          {{#each rank in ranks}}
            <tr>
              <td>{{ getUserNameById rank.userId }}</td>
              <td>{{ rank.matches }}</td>
              <td>{{ rank.wins }}</td>
              <td>{{ rank.loses }}</td>
              <td>{{ rank.draws }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="ui bottom attached tab" data-tab="matches">
			{{#each match in matches}}
				<div class="ui segment">
					<div class="ui blue ribbon label">
						{{ niceDate match.createdAt }}
					</div>

					{{#if match.tournamentId}}
					<div class="ui bottom right attached label">
						Tournament: {{ tournamentName match.tournamentId }}
					</div>
					{{/if}}

					<div class="ui right aligned grid">
						<div class="seven wide column">
              {{#each player in match.teams.[0].players}}
                {{> avatar userId=player shape="circle" class="left-team avatar-margin-10"}}
              {{/each}}
						</div>

						<div class="center aligned two wide column between-avatars">
              {{match.teams.[0].points}}
              <i class="remove icon"></i>
              {{match.teams.[1].points}}
						</div>

						<div class="seven wide column">
              {{#each player in match.teams.[1].players}}
                {{> avatar userId=player shape="circle" class="avatar-margin-10"}}
              {{/each}}
						</div>
					</div>
				</div>
			{{/each}}
    </div>

    <div class="ui bottom attached tab" data-tab="grouped">
      <div class="ui segments">
        <div class="ui vertically divided grid">
          {{#each match in groupedMatches}}
            <div class="row flex align-items-center">
              <div class="grow1 flex justify-flex-end">
                {{#each player in match.teams.[0].players}}
                  {{> avatar userId=player shape="circle" class="avatar-margin-10"}}
                {{/each}}
              </div>
              <div class="">
                {{match.teams.[0].points}}
                <i class="remove icon"></i>
                {{match.teams.[1].points}}
              </div>
              <div class="grow1 flex">
                {{#each player in match.teams.[1].players}}
                  {{> avatar userId=player shape="circle" class="avatar-margin-10"}}
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <button class="ui circular red icon huge fab button">
    <i class="plus icon"></i>
  </button>

</template>
