<template name="tourney">

  <h1>{{ tournamentName }}</h1>

  <div class="ui segment">
    <div class="ui pointing secondary menu tourney">
      <a class="active item" data-tab="scores">Scores</a>
      <a class="item" data-tab="matches">Matches</a>
      <a class="item" data-tab="grouped">Grouped</a>
    </div>

    <div class="ui bottom attached active tab" data-tab="scores">
      <table class="ui definition celled right aligned table">
        <thead>
          <tr>
            <th></th>
            <th>Games</th>
            <th>Wons</th>
            <th>Loses</th>
            <th>Draws</th>
          </tr>
        </thead>
        <tbody>
          {{#each ranks}}
            <tr>
              <td>{{ getUserNameById userId }}</td>
              <td>{{ matches }}</td>
              <td>{{ wins }}</td>
              <td>{{ loses }}</td>
              <td>{{ draws }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="ui bottom attached tab" data-tab="matches">
      <div class="ui segments">
        <div class="ui vertically divided grid">
          <div class="row">
            <div class="seven wide column">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
            </div>
            <div class="two wide column">
              <form action="post" class="ui form attached fluid">
                <div class="two fields">
                  <div class="ui input">
                    <input type="text" placeholder="0">
                  </div>
                  <i class="remove icon"></i>
                  <div class="ui input">
                    <input type="text" placeholder="0">
                  </div>
                </div>
              </form>
            </div>
            <div class="seven wide column">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
            </div>
          </div>
          <div class="row">
            <div class="seven wide column">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
            </div>
            <div class="two wide column">
              <form action="post" class="ui form attached fluid">
                <div class="two fields">
                  <div class="ui input">
                    <input type="text" placeholder="0">
                  </div>
                  <i class="remove icon"></i>
                  <div class="ui input">
                    <input type="text" placeholder="0">
                  </div>
                </div>
              </form>
            </div>
            <div class="seven wide column">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
            </div>
          </div>
          <div class="row">
            <div class="seven wide column">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image right floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
            </div>
            <div class="two wide column">
              <form action="post" class="ui form attached fluid">
                <div class="two fields">
                  <div class="ui input">
                    <input type="text" placeholder="0">
                  </div>
                  <i class="remove icon"></i>
                  <div class="ui input">
                    <input type="text" placeholder="0">
                  </div>
                </div>
              </form>
            </div>
            <div class="seven wide column">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
              <img class="ui mini circular image left floated" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui bottom attached tab" data-tab="grouped">
    </div>
  </div>

</template>
