<template name="dashboard">
  <div class="ui grid">
    <div class="three column row">
      <div class="column">
        <h3 class="ui top attached header">
          Matches <small>(last 5)</small>
        </h3>
        <div class='ui attached header centered'>
          <div class="ui three column grid">
            {{#each match in last_matches}}
              <div class="row">
                <div class="column">
                  {{#each player in match.teams.[0].players}}
                    <img class="ui right floated mini circular image" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
                  {{/each}}
                </div>

                <div class="column">
                  {{ match.teams.[0].score }} x {{ match.teams.[1].score }}
                </div>

                <div class="column">
                  {{#each player in match.teams.[1].players}}
                    <img class="ui left floated mini circular image" src="https://zechariahtsilkwood.files.wordpress.com/2013/05/smiling-monkey1.jpg">
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="ui bottom attached header centered">
          <a href="{{pathFor 'matches'}}">View all</a>
        </div>
      </div>

      <div class="column">
        <h3 class="ui top attached header">
          Tournaments <small>(last 5)</small>
        </h3>
        <div class='ui attached header'>
          {{#each tourney in last_tourneys}}
          <div class='ui mini horizontal statistic' style='width:100%'>
            <div class="value" style='width:50%'>
              {{ getTourneyName tourney.tournamentId }}
            </div>
            <div class="label">
              <div class='ui mini statistic'>
                <div class="value">
                  {{ tourney.wins }}
                </div>
                <div class="label">
                  wins
                </div>
              </div>
              <div class="ui mini statistic">
                <div class="value">
                  {{ tourney.loses }}
                </div>
                <div class="label">
                  loses
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="ui bottom attached header centered">
          <a href="{{pathFor 'tourney_list'}}">View all</a>
        </div>
      </div>

      <div class="column">
        <h3 class="ui top attached header">
          Ranking <small>(top 10)</small>
        </h3>
        <div class="ui attached header">
          <table class="ui celled table">
            <thead>
              <th>Player</th>
              <th>Rating</th>
            </thead>

            <tbody>
              {{#each player in top_players}}
                <tr>
                  <td>{{ player.profile.name }}</td>
                  <td>{{ player.rating }}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="ui bottom attached header centered">
          <a href="{{pathFor 'ranking'}}">View all</a>
        </div>
      </div>
    </div>
  </div>
</template>
