<template name="scores">

<div class="ui container">

  <div class="ui column stackable grid">
    <div class="ui pointing secondary menu">
      <a class="active item" data-tab="scores">Scores</a>
      <a class="item" data-tab="matches">Matches</a>
      <a class="item" data-tab="grouped">Grouped</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="scores">
      <table class="ui definition celled right aligned table">
        <thead>
          <tr>
            <th></th>
            <th>Games</th>
            <th>Wons</th>
            <th>Loses</th>
            <th>Draws</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>João</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="matches">
      matches
    </div>
    <div class="ui bottom attached tab segment" data-tab="grouped">
      grouped
    </div>
  </div>
</div>

</template>
